.navbar {
    background-color: #78A6A4;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 10;
    position: fixed;
    top: 0px;
    width: 100%;
}

.menu-bars {
    font-size: 2rem;
    background: none;
    position: absolute;
    bottom: 0px;
    right: 14px;
    cursor: pointer;
}

@keyframes scale11 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.menu-bars:hover {
    animation-name: scale11;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.nav-menu {
    background-color: #78A6A4;
    width: 175px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 350ms;
    z-index: 10;
}

.nav-menu.active {
    width: 60px;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 9.5px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #6D7D7B;
    animation-name: scale105;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes scale105 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

.menuA.active {
    background-color: #6D7D7B;
}

.menuA svg {
    font-size: 25px;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    text-decoration: none;
    background-color: #78A6A4;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.menuSpan {
    margin-left: 16px;
}

.titleImg {
    height: 50px;
    margin-left: 5px;
    margin-top: 1px;
}

.titleSpan {
    color: #FFF;
    font-size: 30px;
    margin-left: 8px;
    display: block;
}

.displayNone {
    display: none;
}