@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.home,
.chat,
.game,
.diary,
.messages,
.team,
.about {
    height: calc(100% - 60px);
    height: 100%;
    align-items: center;
    width: calc(100% - 60px);
    justify-content: center;
    right: 0px;
    font-size: 2rem;
    position: absolute;
    transition: width 350ms;
    bottom: 0px;
}

.home.active,
.chat.active,
.game.active,
.diary.active,
.messages.active,
.team.active,
.about.active {
    width: calc(100% - 175px);
}

.homeSpan {
    margin-top: 10px;
    display: block;
    width: calc(100% - 20px);
    text-align: center;
    background-color: #6D7D7B;
    color: #FFF;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}